
.image-container {
  position: relative;
 /* Set the height of the container */
}

.image-container img {
 /* Maintain aspect ratio */
}

.image-container h5 {
  position: absolute;
  top: 16%; /* Position the text 50% from the top of the container */
  left: 20%; 
  border-radius: 25px;
  transform: translate(-50%, -50%); /* Center the text horizontally and vertically */
  color: blue; /* Set the color of the text */
  font-size: 10px; /* Set the font size of the text */
  text-align: center; /* Center-align the text */
  background-color: white; /* Add a semi-transparent background */
  padding: 10px 20px; /* Add padding to the text */
}
.image-container .love {
  position: absolute;
right: 60px;
top: 20px;
height: 20px;
width: 20px;
border-radius: 50%;
padding: 0.5rem;
background-color: white;
color: blue;
  transform: translate(-50%, -50%);  /* Add padding to the text */
}
